.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

section {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
}


.Home {
  margin: 1em 0.5em;
  display: grid;
  grid-template: 1fr 1fr / repeat(4, 1fr);
  gap: 0.5em;
}

.image {

  width: 2em;
  
}

.image-2 {

  width: 1em;
  margin: 0 0.2em;
  
}